@media screen and (max-width: 1170px) {
    #nav_list, #navbar .btn-default {
        display: none;
    }
    
    #mobile_btn {
        display: flex;
        border: none;
        background-color: transparent;
        font-size: 1.8em;
        cursor: pointer;
    }

    #mobile_menu.active {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #mobile_nav_list {
        list-style: none;
        display: flex;
        flex-direction: column;
        gap: 12px;
        text-align: center;
        margin: 12px 0px;
    }

    #home {
        min-height: 100%;
        padding-top: 250px;
    }

    #banner, #banner img, #home .shape {
        display: none;
    }

    #cta {
        width: 100%;
        align-items: center;
        text-align: center;
    }

    #dishes {
        flex-wrap: wrap;
        justify-content: center;
    }

    .dishe {
        width: calc(50%-12px);
    }
}

@media screen and (max-width: 450px) {
    #phone_button {
        display: none;
    }
}