@media screen and (max-width: 1170px) {
    #nav_list, #navbar .btn-default {
        display: none;
    }
    
    #mobile_btn {
        display: flex;
        border: none;
        background-color: transparent;
        font-size: 1.8em;
        cursor: pointer;
    }

    #mobile_menu.active {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #mobile_nav_list {
        list-style: none;
        display: flex;
        flex-direction: column;
        gap: 12px;
        text-align: center;
        margin: 12px 0px;
    }

    #home {
        min-height: 100%;
    }

    #banner, #banner img, #home .shape {
        display: none;
    }

    #cta {
        width: 100%;
        align-items: center;
        text-align: center;
    }

    #dishes {
        flex-wrap: wrap;
        justify-content: center;
    }

    .dish {
        width: calc(50% - 12px);
    }

    #testimonials {
        flex-direction: column;
        text-align: center;
    }

    #testimonial_chef {
        display: none;
    }

    #testimonials .section-subtitle {
        font-size: 2.4em;
    }

    #testimonials_content {
        width: 70%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

@media screen and (max-width: 604px) {
    .dish {
        width: 100%;
    }

    #menu .section-subtitle {
        text-align: center;
    }

    #testimonials .section-subtitle {
        font-size: 2em;
    }

    #testimonials-content {
        width: 100%;
    }

    .feedback {
        flex-direction: column;
    }

    footer {
        margin-top: 100px;
    }

    #footer_items {
        flex-direction: column;
        gap: 20px;
    }
}

@media screen and (min-width: 320px) and (max-width: 450px) {
    #phone_button {
        display: none;
    }

    #home {
        height: 100vh;
        margin-bottom: 0;
        padding-bottom: 0;
    }

    #menu {
        margin-top: 0;
        padding-top: 0;
    }

    #testimonials {
        margin-top: 260px;
    }

    footer {
        margin-top: 300px;
    }
}